html{
    background-color: rgb(221, 221, 221);
}

header{
    border-bottom: groove black;
}

.headdiv h1{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    top: 18px;
    left: 10px;
    color: black;
}

.headdiv .imghead {
    float: left;
    width: 150px;
    height: 150px;
}

.container{
    margin-top: 100px;
    position: relative;
    width: 100%;
}

.container .img1{
    border-radius: 5px;
    border: groove black;
    width: 640px;
    height: 360px;
}

.container .button1{
    position: absolute;
    text-align: center;
    border-radius: 10px;
    top: 50%;
    right: 25%;
    background-color: transparent;
    color: black;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 48px 96px;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.container .button1:hover{
    background-color: rgb(130, 223, 130);
}

ul {
    padding:0;
    position: absolute;
}

li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}

li a {
    display:block;
    min-width: 710px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    background-color:black;
    text-decoration: none;
}

li:hover a {
    background-color: #71e47a;
}

.divjim{
    margin-top: 15px;
    padding: 10px;
    border: groove black;
    background:white;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}

.headingabout{
    font-size: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    padding: 10px;
}

h3{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    border-bottom: groove black;
}

h6{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form1 {
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    border: groove black;
  }

label{
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
}

input[type=text] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    width: 97%;
    margin-bottom: 5px;  
    margin-top: 10px;  
}

  select {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      padding: 10px;
      width: 97%;
      margin-bottom: 5px;
      margin-top: 10px;
    }

  textarea{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      padding: 10px;
      width: 97%;
      margin-bottom: 5px;
      margin-top: 10px;
    }
  
  input[type=submit] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(140, 202, 140);
    color: black;
    border: groove black;
    border-radius: 5px;
    padding: 20px;
  }
  
  input[type=submit]:hover {
    background-color: white;
  }
  
  .img3{
      margin-top: 40px;
      width: 700px;
      height:376px;
  }